.swiper-button-next,
.swiper-button-prev
{
    top: auto;
    bottom: 100%;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 33px;
    height: 33px;
    margin: 0 0 50px;

    transition: .2s linear;
    transform: none;

    color: #000;
    border-radius: 50%;
    background: #dc78b0;
}

.swiper-button-prev
{
    right: 49px;
    left: auto;
}

.swiper-button-next
{
    right: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after
{
    display: none;
}


.swiper-button-next img,
.swiper-button-prev img
{
    display: block;

    width: 24px;
    height: 24px;
}

.swiper-button-next img
{
    transform: rotate(180deg);
}


.swiper-button-next:hover,
.swiper-button-prev:hover
{
    background: #fd1e9a;
}



.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}



.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction
{
    position: absolute;
    right: 50%;
    bottom: 48px;
    left: auto;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;

    width: 859px;
    height: 8px;
    margin-right: -863px;

    pointer-events: none;

    border-radius: 16px;
    background: #3f3768;
}


.swiper-pagination-bullet
{
    display: block;

    width: 100%;
    height: 8px;

    transition: background .2s linear;
    pointer-events: auto;

    opacity: 1;
    border-radius: 16px;
    background: transparent;
}


.swiper-pagination-bullet:hover,
.swiper-pagination-bullet.active
{
    background: #fff;
}


.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}
